.doto {
    font-family: "Doto", sans-serif;
    font-weight: 800;
    font-style: normal;
    font-variation-settings:
      "ROND" 0;
}

.lexend {
    font-family: "Lexend", serif;
    font-weight: 400;
    font-style: normal;
}

h1{
    font-size:3rem;
    font-weight: bold;
}

h2{
    font-size: 2rem;
}

h3{
    font-weight: 700;
}

label{
    font-weight:800;
}

#Status{
    display:none;
}

html{
    background-color: darkslategray;
    color:white;
    font-family:"Doto", "Lexend", sans-serif;
    padding:3%;
}

#infoPanel{
    font-size: 1.5rem;
}

#infoPanel img{
    padding:10px;
}

a:link{
    color:cornsilk;
}
a:visited{
    color:darkgray;
}
a:hover{
    color:wheat;
}
a:active{
    color:white;
}

#Next{
    display:none;
    padding: 8px 28px;
    font-weight: 800;
    background-color: gray;
    color:white;
    font-family:"Doto", "Lexend", sans-serif;
}

#Previous{
    display:none;
    padding: 8px 16px;
    font-weight: 800;
    background-color: gray;
    color:white;
    font-family:"Doto", "Lexend", sans-serif;
}

#searchSubmit{
    font-family:"Doto", "Lexend", sans-serif;
    font-weight: 800;
    color:white;
    background-color: gray;
    padding:8px 12px;
}

#searchText{
    padding:4px 4px;
    font-family:"Doto", "Lexend", sans-serif;
    color:black;
    font-weight:800;
    font-size:18px;
}

input[type=button]{
    background-color: gray;
    color:white;
    font-family:'Doto', "Lexend", sans-serif;
    cursor: pointer;
    padding: 8px 12px;
    font-weight: 800;
}

.radio, input[type=submit]{
    cursor:pointer;
}

p{
    color:gray;
}

.loader {
    display: none;
    width: 48px;
    height: 48px;
    border: 5px solid #FFF;
    border-bottom-color: #2600ff;
    border-radius: 50%;
    margin: 1rem auto;
    animation: rotation 1s linear infinite;
}

@keyframes rotation {
    0% { transform: rotate(0deg) }
    100% { transform: rotate(360deg) }
}

.loading-text {
    display: none;
    text-align: center;
    margin: 1rem 0;
}

.disabled {
    opacity: 0.5;
    cursor: not-allowed;
}
